In [8]:
import cv2
import numpy as np
import os
import pandas as pd

In [17]:
image_folder = r"C:\Users\Shreyas R . P\Desktop\acm\block data\block 3"
output_csv = "datablockthree.csv"

In [18]:
image_files = list()
for f in os.listdir(image_folder):
    if f.endswith((".jpg",".png")):
        image_files.append(f)
data = []

In [19]:
for image_file in image_files:
    image_path = os.path.join(image_folder,image_file)
    image = cv2.imread(image_path)
    if image is None:
        print(f" Error loading {image_file}. Skipping...")
        continue
    rgb_value = cv2.cvtColor(image , cv2.COLOR_BGR2RGB)
    pixels = rgb_value.reshape(-1,3)
    filtered_values=[]
    for v in pixels:
        if not np.all(v == 0):
            filtered_values.append(v.tolist())
    data.append([image_file, filtered_values])

In [20]:
df = pd.DataFrame(data, columns=["Image", "filtered_values"])
df.to_csv(output_csv, index=False)

In [24]:
fg = pd.read_csv(r"C:\Users\Shreyas R . P\Desktop\acm\block data csv\datablockone.csv")
gh = pd.read_csv(r"C:\Users\Shreyas R . P\Desktop\acm\block data csv\datablocktwo.csv")
yh = pd.read_csv(r"C:\Users\Shreyas R . P\Desktop\acm\block data csv\datablockthree.csv")
yh

            Image                                    filtered_values
0         401.png  [[0, 5, 0], [9, 9, 6], [1, 1, 1], [3, 5, 2], [...
1         402.png  [[2, 5, 2], [41, 26, 21], [0, 1, 0], [255, 151...
2         404.png  [[1, 3, 0], [3, 5, 1], [4, 6, 1], [53, 53, 53]...
3         405.png  [[4, 5, 1], [3, 7, 3], [24, 24, 23], [7, 9, 7]...
4         406.png  [[0, 2, 0], [2, 4, 2], [1, 4, 1], [2, 2, 2], [...
..            ...                                                ...
205       714.png  [[14, 14, 14], [11, 7, 7], [3, 3, 0], [1, 1, 0...
206       715.png  [[10, 7, 6], [2, 0, 0], [144, 127, 119], [143,...
207       717.png  [[1, 0, 0], [74, 72, 73], [132, 130, 131], [12...
208       718.png  [[7, 3, 3], [11, 11, 11], [15, 15, 15], [24, 2...
209  719-mega.png  [[191, 148, 170], [190, 147, 171], [187, 141, ...

[210 rows x 2 columns]

In [25]:
fg

       Image                                    filtered_values
0     10.png  [[24, 31, 23], [12, 16, 12], [29, 37, 28], [36...
1    102.png  [[0, 2, 2], [2, 2, 2], [0, 4, 4], [0, 4, 4], [...
2    106.png  [[9, 9, 9], [10, 5, 5], [5, 2, 2], [3, 1, 3], ...
3    108.png  [[21, 21, 21], [3, 6, 6], [0, 1, 1], [2, 2, 2]...
4    112.png  [[63, 63, 63], [63, 63, 63], [29, 29, 33], [71...
..       ...                                                ...
119   95.png  [[1, 1, 1], [1, 2, 1], [2, 2, 2], [2, 2, 2], [...
120   96.png  [[0, 3, 3], [2, 2, 2], [39, 34, 23], [199, 181...
121   97.png  [[19, 17, 12], [0, 0, 2], [0, 0, 2], [187, 170...
122   98.png  [[7, 7, 7], [4, 4, 4], [4, 4, 4], [2, 3, 3], [...
123   99.png  [[3, 3, 3], [8, 5, 5], [134, 87, 62], [194, 12...

[124 rows x 2 columns]

In [26]:
gh

       Image                                    filtered_values
0    202.png  [[3, 6, 2], [5, 6, 3], [4, 6, 3], [5, 6, 3], [...
1    204.png  [[14, 16, 13], [14, 20, 15], [39, 41, 40], [16...
2    205.png  [[31, 31, 31], [18, 21, 18], [63, 65, 62], [17...
3    210.png  [[25, 31, 25], [14, 18, 14], [16, 19, 16], [13...
4    212.png  [[57, 60, 57], [37, 39, 37], [26, 30, 24], [16...
..       ...                                                ...
124  391.png  [[0, 4, 0], [2, 4, 1], [2, 4, 1], [2, 2, 0], [...
125  393.png  [[3, 3, 6], [1, 3, 1], [1, 1, 1], [6, 7, 6], [...
126  394.png  [[0, 1, 0], [14, 16, 13], [25, 28, 22], [54, 5...
127  395.png  [[1, 4, 4], [3, 3, 0], [253, 230, 171], [0, 2,...
128  400.png  [[43, 39, 38], [17, 13, 18], [92, 85, 70], [22...

[129 rows x 2 columns]