In [18]:
import pandas as pd

In [12]:


df1 = pd.read_csv(r"C:\Users\Shreyas R . P\Desktop\acm\final output\sorted_pokemon_data.csv")
df2 = pd.read_csv(r"C:\Users\Shreyas R . P\Desktop\acm\final output\namedata.csv")
print("First CSV:\n", df1.head())
print("\nSecond CSV:\n", df2.head())
print("\nColumns in first CSV:", df1.columns)
print("Columns in second CSV:", df2.columns)

First CSV:
            Ndex          colour
0         3.png         dimgray
1         5.png      darksalmon
2  6-mega-y.png   darkslategray
3         6.png      darksalmon
4         8.png  lightsteelblue

Second CSV:
    Index  Unnamed: 0     Pokemon  Ndex
0      0           1   Bulbasaur     1
1      1           2     Ivysaur     2
2      2           3    Venusaur     3
3      4           5  Charmander     4
4      5           6  Charmeleon     5

Columns in first CSV: Index(['Ndex', 'colour'], dtype='object')
Columns in second CSV: Index(['Index', 'Unnamed: 0', 'Pokemon', 'Ndex'], dtype='object')

In [13]:
print(df1.dtypes)
print(df2.dtypes)

Ndex      object
colour    object
dtype: object
Index          int64
Unnamed: 0     int64
Pokemon       object
Ndex           int64
dtype: object

In [14]:
df1["Ndex"] = df1["Ndex"].astype(str)
df2["Ndex"] = df2["Ndex"].astype(str)

In [15]:
print(df1.dtypes)
print(df2.dtypes)

Ndex      object
colour    object
dtype: object
Index          int64
Unnamed: 0     int64
Pokemon       object
Ndex          object
dtype: object

In [16]:
df_merged = pd.merge(df1, df2, on="Ndex", how="outer")

In [17]:
df_merged.to_csv("merged_file_two.csv", index=False)
print("Merged file saved successfully!")
df_merged

Merged file saved successfully!

        Ndex         colour  Index  Unnamed: 0    Pokemon
0          1            NaN    0.0         1.0  Bulbasaur
1         10            NaN   13.0        14.0   Caterpie
2     10.png      darkkhaki    NaN         NaN        NaN
3        100            NaN  131.0       132.0    Voltorb
4        101            NaN  132.0       133.0  Electrode
...      ...            ...    ...         ...        ...
1351  97.png      burlywood    NaN         NaN        NaN
1352      98            NaN  129.0       130.0     Krabby
1353  98.png            tan    NaN         NaN        NaN
1354      99            NaN  130.0       131.0    Kingler
1355  99.png  darkslategray    NaN         NaN        NaN

[1356 rows x 5 columns]